$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/*Fix for mouse pointer empty href in angular-bootstrap*/
/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/
a { cursor: pointer; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

td {
  vertical-align: middle !important;
}

html {
  /* Site structure not moving around when scrollbar comes around */
  overflow-y: scroll;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.voorspelling {
  padding: 2px 0 2px 5px !important;
  /*padding-left: 5px !important;*/
  margin: 0 !important;
  height: auto !important;
  width: 45px !important;
}

.fader.ng-hide-remove {
  animation: fadeInDown 0.5s;
}

.faderChats.ng-enter {
  animation: fadeInDown 0.5s;
}

.faderChats.ng-leave {
  animation: fadeOutUp 0.5s;
}

/*.fader.ng-hide-add {
  animation: fadeOut 1s;
  display: block !important;
}*/

/*.fader.ng-hide-add,*/
/*.fader.ng-hide-remove {
  display: block !important;

  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative !important;
}

.fader.ng-hide {
  opacity: 0 !important;
  top: -50px !important;
  height: 0px !important;
}

.fader.ng-hide-remove-active, .fader.ng-hide-add {
  opacity: 1.0 !important;
  top: 0 !important;
  height: 30px !important;
}
.fader.ng-hide-add-active, .fader.ng-hide-remove {
  opacity: 0 !important;
  top: -50px !important;
  height: 0px !important;
}*/

/*.view.ng-enter {
  animation:view_enter 1s;
}
@keyframes view_enter {
  0% { left:100%; }
  30% { left:80%; }
  100% { left:0; }
}*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}