<div>
<!--  <ul class="nav nav-pills">
    <li ng-class="{'active': selectedPersoon.$id === key}" ng-repeat='(key,persoon) in personen'>
      <a href='' ng-href="#/personen/{{persoon.id}}">
        {{persoon.naam}} 
      </a>
    </li>

  </ul>-->

  <div ng-show='selectedPersoon'>
    <br>
    <h4>{{selectedPersoon.naam}}'s voorspellingen</h4>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Ploeg1</th>
          <th>Ploeg2</th>
          <th>Uitslag</th>
          <th>Voorspelling</th>
          <th>Punten</th>
        </tr>
      </thead>

      <tr ng-repeat="(key, wedstrijd) in wedstrijden">
        <td>{{wedstrijd.ploeg1.naam}}</td>
        <td>{{wedstrijd.ploeg2.naam}}</td>
        <td>
          <div ng-show="wedstrijd.gespeeld">
            {{wedstrijd.scorePloeg1 + " - " + wedstrijd.scorePloeg2}}
          </div>
        </td>
        <td>
          <form class='form-inline'>
            <input ng-show="canChange(wedstrijd)" min='0' ng-model="personen[selectedPersoon.$id].voorspellingen[key].score1" class='form-control' style='width: 70px;' type='number'/>
            {{canChange(wedstrijd) ? "" : personen[selectedPersoon.$id].voorspellingen[key].score1}} - {{canChange(wedstrijd) ? "" : personen[selectedPersoon.$id].voorspellingen[key].score2}}
            <input ng-show="canChange(wedstrijd)" min='0' ng-model="personen[selectedPersoon.$id].voorspellingen[key].score2" class='form-control' style='width: 70px;' type='number'/>
          </form>
        </td>
        <td>
          <div ng-show="wedstrijd.gespeeld">{{ "+"+puntenWedstrijd(key, wedstrijd)}}</div>
        </td>
      </tr>
    </table>
    <!--<p>Verwijder {{selectedPersoon.naam}} <a href=''><span class="glyphicon glyphicon-trash" ng-click="verwijder()"></span></a></p>-->
  </div>

<!--  <div>
    <br>
    <form class='form-inline'>
      <p>Nieuwe persoon toevoegen: <input type='text' class="form-control" ng-model="newPersoon.naam"/>
        <button type='submit' class="btn btn-default" ng-click="voegToe()">Add</button></p>
    </form>
    <br>
  </div>-->

</div>