<div>

  <div>
    <!--{{wedstrijd}}-->
    <table class="table">
      <thead>
        <tr>
          <th>Ploeg1</th>
          <th>Ploeg2</th>
          <th>Gespeeld</th>
          <th>Stand</th>
          <th></th>
        </tr>
      </thead>

      <tr ng-repeat="(key, wedstrijd) in wedstrijden">
        <td>{{wedstrijd.ploeg1.naam}}</td>
        <td>{{wedstrijd.ploeg2.naam}}</td>
        <td>
          <div class="checkbox-inline">
            <label><input type="checkbox" ng-model="wedstrijd.gespeeld"></label>
          </div>
        </td>
        <td>
          <div ng-show='wedstrijd.gespeeld'>
            <form class='form-inline'>
              <input min='0' ng-model="wedstrijd.scorePloeg1" class='form-control' style='width: 70px;' type='number'/> - 
              <input min='0' ng-model="wedstrijd.scorePloeg2" class='form-control' style='width: 70px;' type='number'/>
            </form>
          </div>
        </td>
        <td>
          <a href=''><span class="glyphicon glyphicon-trash" ng-click="verwijder(key)"></span></a><br>
        </td>
      </tr>
    </table>
  </div>
  <br>


  <form class='form-inline'>
    Wedstrijd toevoegen:
    <select class='form-control' ng-model="newWedstrijd.ploeg1" ng-options='ploeg.naam for ploeg in ploegen | orderByPriority'></select>
    -
    <select class='form-control' ng-model="newWedstrijd.ploeg2" ng-options='ploeg.naam for ploeg in ploegen | orderByPriority'></select>
    <button ng-click="voegToe()" class="btn btn-default">Add</button>
  </form>
  <br>
</div>